
body {
    margin: 0;
    font-family: roboto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  :root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }

ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }
  
  /* Top Navigation Bar */
  
  /* <nav> */
  .navbar {
    height: var(--nav-size);
    opacity: 0.5;
    background-color: var(--bg);
    padding: 0 1rem;
    border-bottom: var(--border);
    width: 25rem;
    opacity: 0.5;
  
  }
  
  /* <ul> */
  .navbar-nav {



  }
  
  /* <li> */
  .nav-item {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;    
  }

  .nav-item.icon {
      
  }
  
  /* Icon Button */
  .icon-button {

  }
  
  
  .icon-button svg { 
    fill: var(--text-color);
    width: 20px;
    height: 20px;
  }
  
  
  /* Dropdown Menu */
  
  .dropdown {
    position: absolute;
    margin-top: 45%;
    margin-left: 39rem;
    overflow-y: auto;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow-y: auto;
    transition: height var(--speed) ease;
    width: 25rem;
    height: 100px;

  }
  
  .menu {
    width: 100%;
  }
  
  .menu-item {
    height: 10rem;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
    margin-top: 5rem;
    margin-bottom: 10rem;
  }
  

  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit {
  
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }